# 빌드 결과물
dist
build

# 패키지 관리
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# 캐시
.cache
.next
.nuxt

# 환경 설정
.env*
!.env.example

# 자동 생성 파일
*.min.js
*.min.css

# 기타
coverage
.vscode
.idea
.DS_Store

